# Panorama 

int - Integer/Enteros

float - float/numeros con decimal 

complex - complex/complejos (numeros con parte real y una imaginaria)

bool - Boolean/valores logicos (True/False)

str - String/cadena de textos

# int - Integers/Enteros

In [1]:
my_integer = 10
print("El valor de el entero es: ",my_integer)
print("El valor de dato de el entero es: ",type(my_integer))

El valor de el entero es:  10
El valor de dato de el entero es:  <class 'int'>

In [3]:
my_float = 10.85
print("El valor de el entero es: ",my_float)
print("El valor de dato de el float es: ",type(my_float))

El valor de el entero es:  10.85
El valor de dato de el float es:  <class 'float'>

In [4]:
# Notacion cientifica 
my_float = 2e3 #2.0+10**3
print("El valor de el entero es: ",my_float)
print("El valor de dato de el float es: ",type(my_float))

El valor de el entero es:  2000.0
El valor de dato de el float es:  <class 'float'>

# Complex - complex/complejos(numero real y parte imaginaria )

complex = x + y 

x = parte real

y = parte imaginaria

In [10]:
my_complex = 3 + 9j
print("El valor del numero complejo es : ",my_complex) 
print("El tipo de dato del numero complejo es: ",type(my_complex))

El valor del numero complejo es :  (3+9j)
El tipo de dato del numero complejo es:  (3+9j)

 # Bool - Boolean(true/false)/Valores logicos

In [11]:
my_boolean = False 
print("El valor de my_boolean es: ", my_boolean)
print("El tipo de dato de my_boolean es: ",type(my_boolean))

El valor de my_boolean es:  False
El tipo de dato de my_boolean es:  <class 'bool'>

# Variables globales

In [17]:
my_global_variable = 50

def my_funcion():
    pass

def my_funcion_2():
    pass

In [18]:
def my_funcion():
    my_local_variable = 5

def my_funcion_2():
    my_local_variable = 50

In [20]:
my_global_variable = 50

def my_funcion():
    print("my_funcion - el valor de la variable global es: ",my_global_variable)

def my_funcion_2():
    print("my_funcion_2 - el valor de la variable global es: ",my_global_variable)

In [22]:
my_funcion()

my_funcion - el valor de la variable global es:  50

In [24]:
my_funcion_2()

my_funcion_2 - el valor de la variable global es:  50

In [25]:
variable = 50

def my_funcion():
    variable = 60
    print("my_funcion - el valor de la variable global es: ",variable)

def my_funcion_2():
    variable = 20
    print("my_funcion_2 - el valor de la variable global es: ",variable)
    
def my_funcion_2():
    print("my_funcion_3 - el valor de la variable es: ",variable)

In [27]:
my_funcion()

my_funcion - el valor de la variable global es:  60

# Tipos de Enteros 
-Forma decimal 

-Forma Binaria 

-Forma octal

-Forma Hexadecimal

# Forma decimal

In [29]:
numero_decimal = 10
print(numero_decimal)

10

# Forma Binaria

In [37]:
numero_binario = 0b11 # 1*2**1 + 1*2**0
print(numero_binario)

3

In [38]:
numero_binario = 0B111 # 1*2**2 + 1*2**1 + 1*2**0
print(numero_binario)

7

# Forma Octal

In [39]:
my_octal_number = 0o17 # 1*8**1 + 7*8**0
print(my_octal_number)

15

In [40]:
my_octal_number = 0o153 #1*8**2 + 5*8**1 + 3*8**0
print(my_octal_number)

107

# Forma Hexadecimal

In [41]:
my_hexadecimal_number = 0x17 # 1*16**1 + 7*16**0
print(my_hexadecimal_number)

23

In [43]:
my_hexadecimal_number = 0x1c # 1*16**1 + 12*16**0
print(my_hexadecimal_number)

28